﻿
<footer class="bg-bgDarker mt-20  py-6 px-10 flex flex-col items-center justify-center">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

    <div class="flex flex-col md:justify-center md:items-center">

         <div class="flex items-center gap-4">
            <img src="./assets/images/Logo.png" alt="image description" class="w-16 h-16 object-contain">
            <a href="#" >
                <h3 class=" text-secondary font-black">DNA<span class="text-primary">i</span> World</h3>
                 <p class="italictext-slate-800">Genomics + AI + Life</p>
            </a>
         </div>

          <a href="https://www.linkedin.com/company/dnaiworld/about/" class="mt-5">
          <img src="./assets/images/linkedin.png" class="w-8"/>
          </a>

    </div>
       
     <div class="space-y-5">
         <h4> Redefine diagnosis and treatment, improve hospital workflows, and enhance medical research with powerful healthcare <span class="text-primary">AI solutions</span></h4>
         <p class="text-slate-400">Research foundation in Bengaluru, Karnataka Centre for Cellular and Molecular Platforms (C-CAMP GKVK Campus, Bellary Rd, Bengaluru, Karnataka 560065 </p>
     </div>

  </div>

 <hr class="border border-slate-500 w-2/3 mt-10" />
 <p class="w-full text-center mt-5 text-sm md:text-base  text-slate-500">Copyright © 2023 DNAi World All rights reserved </p>
    
</footer>

