 <header class="fixed top-0 bg-bgDarker w-full">

     <div class="flex items-center justify-between px-4 py-2">

           <div class="flex items-center gap-4">
                <img src="./assets/images/Logo.png" alt="image description" class="w-16 h-16 object-contain">
                 <a href="#" ><h4 class=" text-secondary font-black">DNA<span class="text-primary">i</span> World</h4></a>
           </div>

            <a href="https://wiseworkin-my.sharepoint.com/:b:/g/personal/swetha_s_wisework_in/EWJIib7K-fxLlbDqb60NMGEBje8d3cMUn8y-N7vh-gdrBg?e=KBvO0M"><p class="rounded-lg uppercase sm:w-fit w-min border px-4 py-2 text-secondary border-secondary hover:text-primary hover:border-primary">Cancer Insights</p></a>
         
     </div>

</header>
