<div class="p-4">
	<h2 class="text-center mb-12">Cancer <span class="text-primary">Free</span> Community</h2>
	<div class="grid grid-cols-1 md:grid-cols-3 justify-center gap-4 ">
		@foreach(var content in CancerFreeCommunityContent)
		{
			<div class="flex flex-col items-center text-center gap-4">
				<img src=@content[0] alt=@content[1] class="w-full h-[250px] object-contain" />
				<h4 class="text-secondary">@content[1]</h4>
				<p class="px-6">@content[2]</p>
			</div>
		}
	</div>
</div>

@code {
	private string[][] CancerFreeCommunityContent = new[]
	{
	new[] {"assets/images/Knowledge.png","Knowledge Bank","Awareness videos and articles about cancer"},
	new[] {"assets/images/Blogging.png","Blogs","Articles by experts on the latest advanceynent and treatment techniques"},
	new[] {"assets/images/Discussion.png","Discussion Forums","Forums and channels for the community to discuss about cancer related topics"},
	};
}
