 <section class="px-5">

    <h2 class="text-center mb-12">Our <span class="text-primary">Founders</span></h2>

    <div class="grid text-center grid-cols-1 md:grid-cols-3 gap-12">

        @foreach(var content in foundersContent){

        <div class="space-y-8">
            <div class="flex justify-center">
                <img
                    src=@content[0]
                    class="w-28 h-28 object-cover rounded-full" />
            </div>
                <h4>@content[2]</h4>
            <p class="text-slate-400">
               @content[1]
            </p>

       </div>
       <hr class="border flex mx-auto md:hidden border-slate-600 w-2/3" />
        }
    </div>

</section>

@code{
     private string[][] foundersContent = new[]
     {
         new[] {"./assets/images/Dr Malali Gowda.png",
             "Dr. Malali Gowda, with 30 years of expertise in Genetics, Genomics, Bioinformatics, Data Science, Rainforest, Ecosystems, and Climate Change, pioneered genomics facilities in India at the Center for Cellular and Molecular Platforms and the National Center for Biological Sciences, Bengaluru. He established functional genomics centers at Transdisciplinary University, Bengaluru Genomics Center, and DNAi World",
             "Dr. Malali Gowda, Ph.D CEO"
         },
          new[] {"./assets/images/Shivaram K R.jpeg",
          "Shivaram is a serial entrepreneur and AI, Machine Learning expert with 17 years experience. He has successfully executed high-end technology companies in critical infrastructures that supported twenty-first century industrial and social needs. His primary driving architecture for life centers on massive and profound social impact.",
          "Shivaram K R CIO"
          },
      
          new[]{"./assets/images/Dr Madan.jpg",
          "Dr. Madhan Srinivasan is an Inventor of 98 Patents & 50 Grants, Creator of CloudAI at Accenture, Accenture Prolific Inventor & Infosys Cloud Tech Guru awardee, Global Cloud & Metaverse Leader and a Serial Entrepreneur with 20+ years of experience & 30+ research publications", 
          "Dr. Madhan Kumar Srinivasan, Ph.D. CTO"
      },
};
}