﻿<main class="md:h-[85vh] mb-20 md:mb-0">

    <div class="flex flex-col md:flex-row items-center justify-around gap-10">


            <div class="flex flex-col md:w-1/2 gap-5">

                <div class="font-bebas-neue  lg:text-7xl md:text-6xl text-5xl  font-black leading-none">
                Brings Power of 
                <span class="text-secondary">AI</span>
                and 
                <span class="text-secondary">Genomics</span>
                </div>

                <h4 >
                Lead a Cancer-Free-Life by taking Revolutionary DNAi Cancer Insights Test
                </h4>
            
                <p>Empowering humans to unravel the secrets of their DNA to lead a healthy and happy life</p>

                <div>
                    <a href="https://wiseworkin-my.sharepoint.com/:b:/g/personal/swetha_s_wisework_in/EWJIib7K-fxLlbDqb60NMGEBje8d3cMUn8y-N7vh-gdrBg?e=KBvO0M" >
                     <h3 class="uppercase font-bold w-fit py-2 px-4 rounded-lg bg-primary border-2 border-primary hover:bg-primaryHover">
                        Explore our Demo
                     </h3>
                    </a>
                </div>

            </div>

            <div>
                <iframe  src='https://my.spline.design/dna-9826ac7869af24bc90cc9c07159d4f63/' frameborder='0' width='100%' height='100%' style=" position: absolute;background-colour:transparent z-index=1"></iframe>
        
            </div>

        </div>

</main>
