@page "/"

<PageTitle>DNAi World</PageTitle>


<Hero/>
<div class="space-y-32">
    <DidYouKnow/>
    <EndToEndSolutions/>
    <CancerInsights/>
    <CancerFreeCommunity/>
    <ImmunityStore/>
    <ComingSoon/>
    <Founders/>
</div>